<div>
  <a href="{{ product.url | within: colelctioin }}">{{ product.tile }}</a>
  {{ product.price | money }}
  {% unless product.available  %} <br><strong>Sold Out</strong>{% endunless %}
  <a href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image.src | img_url: 'large' }}"  alt="{{ product.featured_image.alt | escape }}">
  </a>
</div>